.box__shadow {
    box-shadow: 0px 5px 9px 5px #0000008c;
    border-radius: 5px;
}
.pd__2 {
    padding : 2rem
}
.mt__3 {
    margin-top: 3rem;
}
.font__fam {
    font-family: 'Kdam Thmor Pro', sans-serif;
}