.pt__2 {
    padding-top: 5rem;
}
/* h1 {
     animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal; 
    animation: typewriter 2s steps(13) 1s 1 normal both,
          blink 800ms steps(13) infinite normal;
    white-space: nowrap;
}

@keyframes typewriter{
  from{
      margin-left: 50%;
      width: 0;}
  to{
      width: 50%;
    }
}

@keyframes blink {
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;} 
    from {
        border-color: black;
      }
      to {
        border-color: transparent;
      }
} */