.time__font {
    font-size: 10rem;
}
.flex {
    display: flex;
    flex-direction: column;
}
.mb {
    margin-bottom: -5rem
}
.greet__font {
    font-size: 5rem;
}
.pt__1_5 {
    padding-top: 1.5rem;
}
.txt__decor{
    color: white ;
    /* #0000007a; */
    text-shadow: 4px 4px 5px black;
    font-family: 'Alfa Slab One', cursive;
}